dictionaries/transifex
vendor
composer.lock
www/static/components
node_modules
cache.properties
cert
var
etc/ci/simplesamlphp-config/simplesamlphp-config
etc/ci/simplesamlphp-metadata/simplesamlphp-metadata
www/static/media/default-profile.png
www/static/media/disco/surfnet-lg.png
www/static/media/peoplesearch.jpg
www/static/media/peoplesearch.png
www/static/media/travis.png
.transifexrc
ENV
etc/kubernetes/secrets.yaml
conf
etc/authengine/GeoLite2-City.mmdb
nginx-proxy
build
