etc/config.json
etc/simplesamlphp-config
etc/simplesamlphp-metadata
etc/apache.conf
vendor
composer.lock
www/static/components
node_modules
cache.properties
build
etc/ci/simplesamlphp-config/simplesamlphp-config
etc/ci/simplesamlphp-metadata/simplesamlphp-metadata
