<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true">

  <testsuites>
    <testsuite name="connect-auth-engine">
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">lib</directory>
    </whitelist>
  </filter>

</phpunit>
