<div id="paneselector" class="container" style="display: none" >


    <div class="row">
        <div class="col-md-6 col-md-offset-3" style=" ">



            <div class="clientinfo" style="margin-top: 1em; padding: 0px 5px; display: none" >

                <h3>{{_.chooseaccount}}</h3>



                <div class="media">
                    <div class="media-left media-middle clientlogo" style="padding-top:0px; padding-left: 11px">

                    </div>
                    <div class="media-body" style="padding-top: 12px">
                    <p>{{_.tologin1}} <strong><span class="clientname"></span></strong>{{_.tologin2}}</p>

                    </div>
                </div>

            </div>

            <div id="accounts" style="margin-top: 1.2em" class="list-group">

            </div>

        </div>
    </div>
</div>