<div id="paneselector" class="container" style="display: none" >
 <div class="pure-g">
  <div class="pure-u-1-2" style=" ">
   <div class="clientinfo" style="margin-top: 1em; padding: 0px 5px; display: none" >

    <h3>{{_.chooseaccount}}</h3>

    <div class="media">
     <div class="media-left media-middle clientlogo" style="padding-top:0px; padding-left: 11px">

     </div>
     <div class="media-body" style="padding-top: 12px">
      <p>{{_.tologin|raw}}</p>
     </div>
    </div>

   </div>

   <div id="accounts" style="margin-top: 1.2em" class="list-group">

   </div>

  </div>
 </div>
</div>
