<div class="well">
    <p>{{_.whyremember}}</p>
    <p style="font-size: 90%"><i>{{_.sharedcomputer}}</i></p>
    <div class="checkbox">
        <label>
            <input id="rememberme" type="checkbox" checked="checked"> {{_.rememberme}}
        </label>
    </div>
</div>
