<div id="paneselector" class="container hide">
 <div class="pure-g">
  <div class="pure-u-1">
   <div id="accounts" style="margin-top: 1.2em" class="list-group"></div>
   <div class="list-group">
    <a id="altlogin" href="#" class="list-group-item accountentry">
     <div class="media">
      <div class="media-left media-middle">
       <i class="fa fa-plus fa-2x"></i>
      </div>
      <div class="media-body">
       <h1>{% trans %}oranotheraccount{% endtrans %}</h1>
      </div>
     </div>
    </a>
   </div>
   <div class="toggle-controls breathe-top-double">
    <button id="removeacct" class="pure-button pure-button-small hideOnRemove">
     <i class="fa fa-trash fa-lg"></i>&nbsp;
     {{ "removeacct"|trans }}
    </button>
    <button id="removedone" class="pure-button pure-button-small showOnRemove">
     <i class="fa fa-check"></i> {{ "done"|trans }}
    </button>
   </div>
  </div>
 </div>
</div>
