<div id="paneselector" class="container" style="display: none" >
 <div class="pure-g">
  <div class="pure-u-1" style=" ">
   <div id="accounts" style="margin-top: 1.2em" class="list-group">
   </div>
  </div>
 </div>
</div>
