<div class="panel panel-default grantEntry grantEntryActive ">


	<div class="pull-right grantDetails selectIndicator" style="font-size: 200%"><i class="glyphicon glyphicon-chevron-down "></i></div>
	<div class="pull-right grantDetailsHide selectIndicator" style="font-size: 200%"><i class="glyphicon glyphicon-chevron-left "></i></div>


	<div class="media grantEntryContent" style="">
		<div class="media-left ">
			<img class="media-object grantDetails" style="max-height: 64px; max-width: 64px" src="{{apibase}}/clientadm/clients/{{client.id}}/logo" alt="...">
			<img class="media-object grantDetailsHide" style="max-height: 32px; max-width: 32px" src="{{apibase}}/clientadm/clients/{{client.id}}/logo" alt="...">
		</div>

		<div class="media-body" style="" >

			<h3 class="media-heading" style="padding: 0px">{{client.name}}</h3>

			<div class="grantDetails" style="">

				<div class="row" style="">

					<div class="col-md-12">

						{{#client.descr}}
							<p style="margin: 0px">{{.}}</p>
						{{/client.descr}}


						{{^client.isSecure}}
							<p><span class="label label-danger"><i class="fa fa-warning"></i> {{_.insecurewarning}}</span></p>
						{{/client.isSecure}}

					</div>
					
				</div>
				
			</div>

		</div><!-- media body -->
	</div><!-- media -->


	<div class="ownerbox2 grantDetails" style="margin: 8px">

		<div class="row">
			
			<div class="col-md-5" style="text-align: left">
				<ul class="uninett-ul simpleSkip" style="padding: 0px">
					{{#client.privacypolicyurl}}
						<li class="uninett-ul-li"><a target="_blank" href="{{.}}">{{_.applicationprivacy}}</a></li>
					{{/client.privacypolicyurl}}
					{{#client.supporturl}}
						<li class="uninett-ul-li"><a target="_blank" href="{{.}}">{{_.applicationsupport}}</a></li>
					{{/client.supporturl}}
					{{#client.homepageurl}}
						<li class="uninett-ul-li"><a target="_blank" href="{{.}}">{{_.applicationhomepage}}</a></li>
					{{/client.homepageurl}}
				</ul>
			</div>

			{{#ownerOrg}}
				<div class="col-md-5" style="text-align: right">
					<p style="font-style: italic; font-size: 95%">{{_.appprovidedby}}</p>
					<p class=" ownerName" style=""><strong>{{org.name.nb}}</strong></p>

					<p class="simpleSkip"><code>{{client.host}}</code></p>
				</div>

				<div class="col-md-2" style="text-align: left">
					<img class="orglogo orglogoSmall" style="max-height: 64px; max-width: 64px" src="{{org.logoURL}}">
				</div>
			{{/ownerOrg}}

			{{#owner}}
				<div class="col-md-10">
					<p style="font-style: italic; font-size: 95%">{{_.appprovidedby}}</p>
					<p class="ownerName"><strong>{{owner.name}}</strong></p>
					<p class="ownerMail">
						<a href="mailto:{{owner.mail}}">{{owner.email}}</a>
					</p>

					<p class="simpleSkip"><code>{{client.host}}</code></p>

				</div>
				<div class="col-md-2">
					<img class="orglogo orglogoSmall" style="max-height: 64px; max-width: 64px" src="/user/media/{{owner.profilephoto}}">
				</div>
			{{/owner}}
		</div>

	</div>


</div><!-- Panel -->
