<div class="panel panel-default grantEntry  ">




	<div class=" grantEntryContent" style="">
		<div class="pull-left " style="margin-right: 1em">
			<img class="media-object grantDetails" style="max-height: 64px; max-width: 64px" src="{{apibase}}/clientadm/clients/{{client.id}}/logo" alt="...">
			<img class="media-object grantDetailsHide" style="max-height: 64px; max-width: 64px" src="{{apibase}}/clientadm/clients/{{client.id}}/logo" alt="...">
		</div>

		<div class="pull-right grantDetails selectIndicator" style="font-size: 200%"><i class="glyphicon glyphicon-chevron-down "></i></div>
		<div class="pull-right grantDetailsHide selectIndicator" style="font-size: 200%"><i class="glyphicon glyphicon-chevron-left "></i></div>


		<div class="" style="" >

			<div class="grantDetails">
				<h3 class="media-heading" style="padding: 0px">{{client.name}}</h3>
			</div>

			<div class="grantDetailsHide">
				<h3 class="media-heading" style="padding: 0px">{{client.name}} <span class="small">{{_.provby}} {{ownerDisplay}}</span></h3>


				{{>contractsummary }}
				<div class="clearfix"></div>

			</div>

			<div class="grantDetails" style="">

				<div class="row" style="">

					<div class="col-md-12">

						{{#client.descr}}
							<p style="margin: 0px">{{.}}</p>
						{{/client.descr}}


						{{^client.isSecure}}
							<p><span class="label label-danger"><i class="fa fa-warning"></i> {{_.insecurewarning}}</span></p>
						{{/client.isSecure}}



						{{! <div class="hidden-xs"> }}



					</div>
					
				</div>
				
			</div>

		</div><!-- media body -->
	</div><!-- media -->


	<div class="grantDetails" style="">

		{{! <div class="visible-xs-block" style="padding: .2em"> }}
		<div style="padding: 2px 10px">
			{{>contractdetails}}
		</div>

	</div>


	<div class="ownerbox2 grantDetails" style="margin: 8px">

		<div class="row">
			
			<div class="col-md-5" style="text-align: left">
			
				<ul class="uninett-ul simpleSkip" style="padding: 0px">
					{{#client.privacypolicyurl}}
						<li class="uninett-ul-li"><a target="_blank" href="{{.}}">{{_.applicationprivacy}}</a></li>
					{{/client.privacypolicyurl}}
					{{#client.supporturl}}
						<li class="uninett-ul-li"><a target="_blank" href="{{.}}">{{_.applicationsupport}}</a></li>
					{{/client.supporturl}}
					{{#client.homepageurl}}
						<li class="uninett-ul-li"><a target="_blank" href="{{.}}">{{_.applicationhomepage}}</a></li>
					{{/client.homepageurl}}
				</ul>


			</div>
			<div class="col-md-7">

				<div class="row">
				{{#ownerOrg}}
					<div class="col-xs-8" style="text-align: right">
						<p style="font-style: italic; font-size: 95%">{{_.appprovidedby}}</p>
						<p class=" ownerName" style=""><strong>{{org.name.nb}}</strong></p>

						<p class="simpleSkip"><code>{{client.host}}</code></p>
					</div>

					<div class="col-xs-4" style="text-align: left">
						<img class="orglogo orglogoSmall" style="max-height: 64px; max-width: 64px" src="{{org.logoURL}}">
					</div>
				{{/ownerOrg}}
				{{#owner}}
					<div class="col-xs-8">
						<p style="font-style: italic; font-size: 95%">{{_.appprovidedby}}</p>
						<p class="ownerName"><strong>{{owner.name}}</strong></p>
						<p class="ownerMail">
							<a href="mailto:{{owner.mail}}">{{owner.email}}</a>
						</p>

						<p class="simpleSkip"><code>{{client.host}}</code></p>

					</div>
					<div class="col-xs-4">
						<img class="orglogo orglogoSmall" style="max-height: 64px; max-width: 64px" src="/user/media/{{owner.profilephoto}}">
					</div>
				{{/owner}}

				</div>


			</div>

		</div>




	</div>


</div><!-- Panel -->
