<h2>Samtykkeerklæring for Feide Connect</h2>

<p>For at du skal logge deg inn på den nettjenesten du ønsker å bruke, er det nødvendig å behandle enkelte opplysninger om deg. Opplysningene benyttes kun til å sørge for vellykket innlogging og til administrasjon av innloggingstjenesten Feide Connect. 
Det er frivillig å avgi samtykke, og du kan når som helst trekke ditt samtykke tilbake, se her.</p>

<p>Vi ber deg om å samtykke til følgende:  </p>

<ul>
	<li>At [VERTSORGANISASJON] utleverer disse opplysningene om deg til Feide Connect, se her.</li>
	<li>At [VERTSORGANISASJONEN] utleverer disse opplysningene om deg til [TJENESTEN], se her.</li>
</ul>



<p>For nærmere informasjon om personvern og informasjonssikkerhet i Feide Connect, se her.</p>



<h3>Personvern og informasjonssikkerhet i Feide Connect</h3>


<p>UNINETT AS er behandlingsansvarlig for personopplysninger som behandles i innloggingstjenesten Feide Connect.
Vertsorganisasjoner (universiteter, høyskoler eller skoleeiere) og leverandører av nettjenester er behandlingsansvarlige for personopplysninger som de behandler om sine brukere. </p>

<p>Spørsmål vedrørende personvern og informasjonssikkerhet for en bestemt vertsorganisasjon eller nettjeneste kan rettes til den aktuelle organisasjonen eller leverandøren.
Samtykke </p>

<p>Første gang du logger inn på en nettjeneste, vil du bli bedt om å gi samtykke til at Feide Connect og tjenesten kan få utlevert opplysninger om deg fra din vertsorganisasjon. Dersom du ikke samtykker til dette, vil du ikke kunne logge deg inn på den aktuelle tjenesten.</p>

<p>På innsynssiden i «Min Connect» får du oversikt over alle samtykker du har avgitt. Her vil du også kunne trekke avgitte samtykker tilbake. Dersom du trekker ditt samtykke tilbake, vil ikke Feide Connect behandle opplysninger om deg lenger (ER DETTE KORREKT ELLER ER DET SLIK AT FEIDE CONNECT DA IKKE VIL FÅ UTLEVERT OPPLYSNINGER OM BRUKEREN FRA VERTSORGANISASJONEN?). </p>

<p>Personopplysninger i Feide Connect   </p>

<p>Dersom du samtykker til innlogging på en nettjeneste ved hjelp av Feide Connect, vil Feide Connect behandle følgende personopplysninger om deg: 

●	Er personopplysninger som behandles de samme som de som lagres? Hvis nei:
●	Personopplysninger som behandles:
○	Bruker-ID
○	Brukernavn, epostadresse og bilde
○	Organisasjonstilhørighet
○	Utvidet personinfo (fra Feide) BETYR?
○	Emner / Fag / studieretning  / kull / klasse for studenter og faglærere fra FS
○	Informasjon fra tredjeparts dataleverandører (se liste) BETYR?

<p>Personopplysninger som blir lagret i Feide Connect:</p>

●	En generert unik identifikator for hver bruker
●	Feide brukernavn
●	Fullt navn
●	E-postadresse
●	Eventuelt profilbilde der dette er tilgjengelig
●	Tilknytning til brukerdefinerte grupper.
●	For tekniske kontaktpersoner og Feide / Connect administratorer, vil denne rolledefinisjonen ligge lagret.

<h3>Grupper</h3>

INN MED EN SETNING ELLER TO OM HVA GRUPPEFUNKSJONALITETEN ER.
Brukerdefinerte grupper og medlemslister styres fullt og helt av brukene selv. Gruppeadministratoren velger når han eller hun ønsker å slette en gruppe, og medlemmer kan selv slette sin tilknytning til gruppen. 

<h3>Innsyn, retting og sletting</h3>

Etter personopplysningsloven har du krav på innsyn i hvilke opplysninger om deg som behandles i Feide Connect. Du har også krav på å få feilaktige opplysninger rettet eller slettet.
På «Min Connect»-side vil du få en samlet oversikt over hvilke opplysninger om deg som behandles i Feide Connect. Her har du mulighet til å slette alle opplysninger om deg som lagres i Feide Connect (ved å følge noen enkle instrukser). I tillegg får du informasjon om hvor du skal henvende deg for å endre feilaktige opplysninger.
Alle opplysninger som lagres om deg i Feide Connect, slettes automatisk 5 år etter siste gangs bruk (MÅ BEGRUNNES – HVA MED SLETTING VED TILBAKETREKKING AV SAMTYKKE?). Kun bruker-ID lagres permanent for å hindre gjenbruk (ANONYMITET?).

<h3>Utlevering til andre</h3>

Opplysninger som behandles om deg i Feide Connect vil ikke bli utlevert til andre enn leverandøren av den nettjenesten du logger deg inn på.

Informasjonssikkerhet

Sikkerhetsnivå

[HER MÅ/BØR DET INN ET PAR SETNINGER OM SIKKERHETSNIVÅET I FEIDE CONNECT.]

Feide Connect vil være en kritisk komponent i forhold til autentisering og aksesskontroll i mange av sektorens tjenester. Med bakgrunn i dette, har UNINETT etablert gode rutiner for håndtering av systemer for test og verifikasjon, sikkerhetsoppdateringer. Det er begrenset sett med personell som har adgang til systemene som inngår i Feide Connect. SIKKERHETSNIVÅ 1, 2, 3?
Styringssystem for informasjonssikkerhet

Som behandlingsansvarlig for Feide Connect har UNINETT AS et styringssystem for informasjonssikkerhet hvor sikkerheten til personopplysninger som behandles i Feide Connect jevnlig blir kontrollert og revidert. 

<h3>Kryptering</h3>

Opplysninger om deg som formidles over Internettet ved bruk av Feide Connect, vil alltid være kryptert slik at uvedkommende ikke får tilgang til dem. 
Passord som du benytter til innlogging på de tjenestene du anvender, blir ikke behandlet i Feide Connect.
Sikkerhet på eget datautstyr
Sørg for at du har oppdatert programvare og antivirusprogram på din egen dataenhet.
Sørg for at du sikrer din dataenhet med passord eller PIN-kode. 
Logg deg ut fra tjenesten når du er ferdig.

<h3>Informasjonskapsler </h3>

Feide Connect plattformen benytter informasjonskapsler for å etablere en kortvarig brukssesjon med brukeren. Dette er nødvendig for å kunne gjennomføre en vellykket utlogging med Feide. Informasjonskapslene er transparente sesjonsidentifikatorer????? som ikke inneholder noe meningsbærende informasjon om deg som bruker. 
Informasjonskapslene slettes i løpet av et døgn, og normalt ved lukking av nettleser.

<h3>ID-tyveri</h3>

Ved mistanke om ID-tyveri bør du så raskt som mulig kontakte ditt studiested eller skole for videre håndtering.
Kontaktinformasjon
Kontaktinformasjon til behandlingsansvarlig for behandling av personopplysninger i Feide Connect:
XXXXXXXXXX  (hvem har denne rollen i UNINETT? tjenesteeier?)

