<div class="dialog notification">
  <p class="dialog_text">
    {% if user.isFeideUser %}
      {{_.thisisfirsttimefeide}}
    {% else %}
      {{_.thisisfirsttimeother}}
    {% endif %}
    <a class="touOpen" href="">
      {{_.userterms}}
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
  </p>
</div>

<p>{{_.iaccept}} privacy policy</p>
<div class="pure-g">
  <div class="pure-u-1-2">
    <div class="pure-button full-width pure-button-primary">I accept</div>
  </div>
  <div class="pure-u-1-2">
    <a class="pure-button full-width" href="/reject">I do not accept</a>
  </div>
</div>
