
<p style="float: right; text-align: right; font-size: 85%; color: #555 ">Versjon 1.0.1<br />13. januar 2016</p>
<h2>Samtykkeerklæring for Dataporten</h2>



<p>Dataporten er en tjeneste for sikker tilgangsstyring og datadeling for utdanningssektoren. Gjennom Dataporten kan tjenester og datakilder utveksle data basert på enten ditt samtykke eller avtaler mellom din vertsorganisasjon ({{organization}}) og den aktuelle tjenesten.</p>

<p>Ved første gangs bruk av Dataporten er det nødvendig for {{organization}} å utlevere visse opplysninger om deg til Dataporten. Dette må du samtykke til. </p>

<p>Det er frivillig å avgi samtykke. Dataporten vil bruke opplysningene til å sørge for vellykket innlogging på nettjenesten og til administrasjon av Dataporten. Før du tar stilling til om du vil gi samtykke, ønsker vi at du setter deg inn i hvordan opplysninger om deg behandles i Dataporten. Etter at du har avgitt samtykke, kan du når som helst <a target="_blank" href="https://min.feideconnect.no">trekke ditt samtykke tilbake</a>.</p>







<h3>Personvern og informasjonssikkerhet i Dataporten</h3>

<p>UNINETT er behandlingsansvarlig for personopplysninger som behandles i Dataporten. Vertsorganisasjoner (universitet, høyskole eller skoleeier) og leverandører av nettjenester er behandlingsansvarlige for personopplysninger som de behandler om sine brukere.</p>

<p>Spørsmål vedrørende personvern og informasjonssikkerhet for en bestemt vertsorganisasjon eller nettjeneste kan rettes til den aktuelle organisasjonen eller nettjenesteleverandøren.</p>


<h4>Samtykke</h4>

<p>Første gang du logger deg inn på en tjeneste, vil du bli bedt om å gi samtykke til at tjenesten kan få utlevert opplysninger om deg fra {{organization}}. Dersom du ikke samtykker til dette, vil du ikke kunne logge deg inn på den aktuelle tjenesten.</p>


<p>På <a target="_blank" href="https://min.feideconnect.no">Min side</a> får du oversikt over alle samtykker du har avgitt. Her vil du også kunne trekke avgitte samtykker tilbake. </p>





<h4>Personopplysninger i Dataporten</h4>

<p>Dersom du samtykker til bruk av Dataporten, vil Dataporten behandle følgende personopplysninger om deg: </p>


<ul class="uninett-ul">
	<li class="uninett-ul-li">Brukernavn, epostadresse og portrettbilde.</li>
	<li class="uninett-ul-li">Bruker-ID</li>
	<li class="uninett-ul-li">Organisasjonstilhørighet.</li>
	<li class="uninett-ul-li">Utvidet personinformasjon, for eksempel fødselsnummer, telefonnummer og organisasjonsrolle (ansatt, student/elev, osv.).</li>
	<li class="uninett-ul-li">Gruppetilhørighet (emner, fag, studieretning, kull/klasse, faglærer).</li>
	<li class="uninett-ul-li">Hvilke Dataporten-tjenester du bruker.</li>
</ul>



<h4>Grupper og personsøk</h4>

<p>I Dataporten kan du opprette egne grupper for samarbeid og deling med andre brukere.</p>

<p>Brukerdefinerte grupper og medlemslister styres fullt og helt av brukene selv. Gruppeadministratoren velger når han eller hun ønsker å slette en gruppe, og medlemmer kan selv slette sin tilknytning til gruppen.</p>

<p>For å invitere deg i grupper, vil andre personer som anvender Dataporten kunne finne deg ved hjelp av tjenesten «Personsøk». De vil da få tilgang til ditt navn, epostadresse og, eventuelt, portrettbilde. Avhengig av hva {{organization}} har bestemt, vil du være søkbar kun for personer ved din egen utdanningsinstitusjon eller for personer ved andre utdanningsinstitusjoner i Norge. </p>



<h4>Innsyn, retting og sletting</h4>


<p>På <a target="_blank" href="https://min.feideconnect.no">Min side</a> vil du få en samlet oversikt over hvilke opplysninger om deg som behandles i Dataporten. Her har du mulighet til å slette opplysninger om deg som lagres i Dataporten (ved å følge noen enkle instrukser). I tillegg får du informasjon om hvor du skal henvende deg for å endre feilaktige opplysninger. </p>

<p>Opplysninger som lagres om deg i Dataporten, slettes automatisk to år etter siste gangs bruk eller ved tilbaketrekking av samtykke.</p>

<p>Kun bruker-ID lagres permanent i Dataporten for å hindre gjenbruk av din brukerkonto.</p>

<p>Merk likevel at opplysninger om gruppemedlemskap ikke slettes automatisk. Dette gjelder også ved tilbaketrekking av samtykke. Du må derfor selv sørge for å slette opplysninger om hvilke grupper du er eller har vært medlem av. Det kan du gjøre ved å gå inn på <a target="_blank" href="https://min.feideconnect.no">Min side</a>.</p>



<h4>Utlevering til andre</h4>

<p>Opplysninger som behandles om deg i Dataporten vil ikke bli utlevert til andre enn leverandøren av den jenesten du logger deg inn på.</p>


<h4>Informasjonssikkerhet</h4>




<h5>Styringssystem for informasjonssikkerhet</h5>

<p>Som behandlingsansvarlig for Dataporten har UNINETT et styringssystem for informasjonssikkerhet hvor sikkerheten til personopplysninger som behandles i Dataporten jevnlig blir kontrollert og revidert. </p>


<h5>Kryptering</h5>

<p>Opplysninger om deg som formidles over Internett ved bruk av Dataporten, vil alltid være kryptert slik at uvedkommende ikke får tilgang til dem. </p>

<p>Passord som du benytter til innlogging på de nettjenestene du anvender, blir ikke behandlet i Dataporten.</p>



<h5>Informasjonskapsler </h5>

<p>Dataporten benytter informasjonskapsler for å etablere en kortvarig brukersesjon med deg. Dette er nødvendig for å kunne gjennomføre en vellykket utlogging. Informasjonskapslene inneholder ikke meningsbærende informasjon om deg. </p>
<p>Informasjonskapslene slettes i løpet av et døgn, og normalt ved lukking av nettleser.</p>

<p>I tillegg har Dataporten en kontovelger som (dersom brukeren velger det) kan huske hvilken brukerkonto brukeren valgte å logge inn med, for at brukeren raskere skal kunne komme til riktig innloggingsvindu ved neste pålogging. Navn, brukerID og profilbilde lagres i nettleseren i <a target="_blank" href="http://www.w3.org/TR/webstorage/">HTML5 LocalStorage</a>. Informasjonen ligger lagret kun i nettleseren, og i kontrast til informasjonskapsler, vil ikke informasjonen overføres via nett. Informasjonen vil ikke engang deles med Dataporten.</p>


<h5>ID-tyveri</h5>

<p>Ved mistanke om ID-tyveri bør du så raskt som mulig kontakte ditt studiested eller skole for videre håndtering av saken.</p>


<h5>Sikkerhet på eget datautstyr</h5>

<p>Sørg for at du har oppdatert programvare og antivirusprogram på din egen dataenhet.</p>

<p>Sørg for at du sikrer din dataenhet med passord eller PIN-kode. </p>

<p>Logg deg ut fra nettjenesten når du er ferdig.</p>




<h3>Kontaktinformasjon</h3>

<p>Kontaktinformasjon til behandlingsansvarlig for Dataporten er</p>

<blockquote>
	<p>UNINETT AS<br />
Postboks 4769 Sluppen<br />
7465 Trondheim</p>
</blockquote>



