{{#view}}

	<span style="margin-right: .6em; white-space: nowrap;">{{#icon}}<span style="" class="fa fa-{{.}}"></span>{{/icon}}&nbsp;{{title}}</span>

	{{#items}}
		<span  style="margin-right: .6em ; white-space: nowrap;">{{#icon}}<span class="fa fa-{{.}}"></span>{{/icon}}&nbsp;{{title}}</span>
	{{/items}}

{{/view}}
