@import url('./style.css');

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
	.container.mainContainer {
		margin-top: 0em;
	}
}


a {
	color: #228;
}




#panedisco {
	margin-top: 3em;
}

#panedisco .clientcontainer {
	padding-top: 2em
}
#panedisco .clientinfo {
	margin-top: 1em;
	margin-bottom: 2em;
}

#paneselector {
	margin-top: 2.4em;
}





@media (max-width: 992px) {
	#panedisco {
		margin-top: 0px;
	}

	#panedisco .clientcontainer {
		padding-top: 0px;
	}
	#panedisco .clientinfo {
		margin-top: 0px;
		margin-bottom: .7em;
	}

	#paneselector {
		margin-top: 0px;
	}
}






#accounts.modeRemove .hideOnRemove {
	display: none;
}
#accounts.modeRemove .showOnRemove {
	display: inline;
}
#accounts .hideOnRemove {
	display: inline;
}
#accounts .showOnRemove {
	display: none;
}


#idplist .activeaccount {
    display: none;
    padding-left: 48px !important;
}

#idplist .hasactive .media-body  {
    padding-left: 5px;
}

#idplist.active .mainentry .media-body i {
    display: none !important
}
#idplist.active .hasactive i.fa-chevron-right {
    display: none;
}
#idplist.active .hasactive i.fa-chevron-down {
    display: inline !important;
}
#idplist.active  a.activeaccount {
    display: block;
}

#idplist .activeaccount {

}
#idplist .activeaccount.nomedia p {
    padding-left: 74px;
}



#usersearch {
	border-left: 0px;
}
