@import url('./style.css');


/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
	.container.mainContainer {
		margin-top: 7em;
	}

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.uninett-padded {
		padding: 10px 0px 0px 0px! important;
	}
}




/* Top user header */

div.row.grantUserLine {
	border-bottom: 2px solid #eeebe8
}
div.row.grantServiceLine {
	/*border-bottom: 3px solid #eeebe8;*/
	padding: 25px 5px 0px 5px;
}



body.simpleGrant .simpleSkip {
	display: none;
}

.simpleOnly {
	display: none;
}
body.simpleGrant .simpleOnly {
	display: block;
}




#tousection h3 {
	margin-top: 1em;
}
#tousection a {
	border-bottom: 1px dotted #006;
}
#tousection a:hover {
	border-bottom: 1px solid #006;
	text-decoration: none;
}


/* Grant Entry */

.grantEntry .grantDetails { display: none }
.grantEntry .grantDetailsHide { display: block }

.grantEntry.grantEntryActive .grantDetails { display: block }
.grantEntry.grantEntryActive .grantDetailsHide { display: none }

.grantEntry .grantEntryContent {
	margin-top: 0px; 
	padding: 8px 16px;

}

.grantEntry {

}

div.grantEntry:hover { 
	background-color: #fafafa; 
}

.selectIndicator {
	color: #ddd;
}

#grantpermissionlist .grantEntry {
	padding-top: 7px;
	padding-bottom: 7px;
}

.grantEntry {
	cursor: pointer;
}


.grantEntry.apiEntry {
	/*padding: 0px;*/
}

.grantEntry .userInfoEntry {
	margin: 0px 0px 0px 30px;
	padding: 0px;
	color: #353;

}
.grantEntry .openid {
	color: #600;
}

.grantEntry .ownerbox2 {
	/*text-align: right; */
	color: #333;
}
.grantEntry .ownerbox2 p {
	margin: 0px 5px 0px 5px;
}
.grantEntry .ownerbox2 .ownerMail {
	font-size: 74%;
}
.grantEntry .ownerbox2 .ownerMail a {
	color: inherit;
}
.grantEntry .ownerbox .ownerlogo img {
	max-width: 48px; 
	max-height: 48px; 
	border: 1px solid #aaa; 
	border-radius: 3px;
	margin-left: 5px
}

.grantEntry .ownerbox .orglogo img {
	max-width: 128px; 
	max-height: 128px; 
	border: none;
	border-radius: 0px;
	margin-left: 5px;
}
.grantEntry .ownerbox .orglogo.orglogoSmall img {
	max-width: 64px; 
	max-height: 64px; 
}

.grantEntry .grantEntryContent.media .media-body {
	width: 100%;
}
/*  */

ul.grantItemList {
	list-style-position: inside; list-style-type: none; 
}
ul.grantItemList li {
	list-style-position: inside; list-style-type: none; display: inline; margin-right: .3em;
}

.ownerbox2 {
	margin: 0px !important;
	padding: 15px 15px 0px 15px;
	border-top: 1px solid #ddd;
	background-color: #f5f5f5;
}


img.profileImage {
	max-width: 96px; 
	max-height: 94px; 
	border: 0px solid #aaa; 
	border-radius: 3px
}
.grantUserLine img.profileImage {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	/*border: 1px solid red;*/
}
.grantUserLine h4 {
	margin-bottom: 0px;
	padding-bottom: 0px;	
}
.grantUserLine .org {
	color: #444; 
	margin:0px
}
.grantUserLine .userChange {
	color: #444; 
	font-size: 80%;
	margin:0px
}

.userExtraBox {
	
	
}
.userExtraBox p {
	margin: 0px;
	font-size: 80%;
	text-align: right;
	padding-right: 5px;
}

a {
	color: #228;	
}

