/*************
 * HTML tags *
 *************/
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0; }

h1 {
  font-weight: 400;
  font-size: x-large;
  margin: 0;
  line-height: 1.4em;
  margin-bottom: 1em; }

/******************
 * General layout *
 ******************/
.layout {
  margin: auto;
  max-width: 50em;
  padding: 1em; }
  .layout .topbar {
    padding: 0 1em;
    line-height: 1.5em; }
  .layout .upper {
    padding: 0;
    line-height: 1.5em; }
  .layout .main {
    margin-top: 1em;
    background: #f4f4f4 no-repeat scroll url("../../media/feide_emblem.svg");
    -ms-background-position-x: 100%;
    background-position-x: 100%;
    -ms-background-position-x: 100%;
    background-position-x: 100%;
    background-size: 60%;
    line-height: 1.5em; }
    .layout .main h3 {
      font-weight: 400;
      font-size: large; }

.box {
  border: solid 1px #d4d4d4;
  padding: 1em; }

/****************
 * Language bar *
 ****************/
#languagebar {
  float: right;
  text-align: right;
  margin-bottom: 2em !important; }

/********************
 * Images and logos *
 ********************/
.clientlogo {
  float: right;
  margin-left: 1em; }
  .clientlogo img {
    max-width: 7em;
    max-height: 3em;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%); }

/***********
 * Helpers *
 ***********/
.mobile-only {
  display: none; }

.clearfix {
  content: " ";
  /* older browsers do not support empty contents */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  margin: 0; }

/******************
 * Mobile version *
 ******************/
@media only screen and (max-width: 50em) {
  .mobile-only {
    display: block; }

  .not-on-mobile {
    display: none; }

  #languageSelector {
    float: right;
    margin-right: -1em;
    margin-bottom: 1em;
    max-width: 10em;
    min-width: 6.5em; } }
