#oauthgrant {

    #container-service-description {
        border: 1px solid #ccc;
        background-color: white;
        padding: 1em;
        h3 {
            margin-top: 0;
        }
        h4 {
            margin-bottom: 0.5em;
        }
        p, ul {
            margin-top: 0;
        }
    }

    .currentUser {
        .profileImage {
            max-height: 64px;
        }
    }

    .list-group-item {
        padding: .5em;
    }

    .vex {
        padding-top: 2em;
        padding-bottom: 2em;
        .vex-content {
            width: 90%;
            font-size: 1rem;
        }
    }

    .more-information > .text-less { display: none; }
    .less-information > .text-more { display: none; }

}
