<!DOCTYPE html>
<html lang="en">
    <head>
        {{>commonhead }}

        <title>{{_.selectprovider}}</title>
        <meta name="description" content="{{_.selectprovider}}" />

        <!-- <script type="text/javascript" src="/static/components/dustjs-linkedin/dist/dust-full.min.js"></script> -->

        <script type="text/javascript">
            var acrequest = {{{requestJSON}}};
            window.activeAccounts = {{{activeAccountsJSON}}};
            window.loc = {{{locationJSON}}};
            window.config = {{{configuration}}};
            window.dictionary = {{{dictionary}}};
            window.client = {{{client}}};
            var require = {
                "paths": {
                  "jquery": "../components/jquery/dist/jquery.min",
                  "bootstrap": "../components/bootstrap/dist/js/bootstrap.min",
                  "tooltip": "../components/bootstrap/js/tooltip"
                },
                "shim": {
                    "bootstrap": ["jquery"],
                    "tooltip": ["jquery"]
                },
                "urlArgs": "bust={{cacheBust}}"
            };
        </script>

        {{#isDevelopment}}
            <link href="/static/css/style.css" rel="stylesheet" />
            <script data-main="static/accountchooser/main" src="/static/components/requirejs/require.js"></script>
        {{/isDevelopment}}
        {{^isDevelopment}}
            <link href="/static/build/style.min.css?bust={{cacheBust}}" rel="stylesheet" />
            <script type="text/javascript" src="/static/build/accountchooser.min.js?bust={{cacheBust}}"></script>
        {{/isDevelopment}}

        <!-- <script type="text/javascript" src="/static/components/bootstrap/dist/js/bootstrap.min.js"></script> -->
        <!-- <script type="text/javascript" src="/static/components/bootstrap/js/tooltip.js"></script> -->

        <script type="text/dust" id="accountlist-template">
        {#accounts}
            <a href="#" class="{classes}" data-userid="{userid}" style="">

                    <div class="media-left media-middle">
                        <img class="media-object" style="width: 64px; height: 64px" src="{photo}" alt="..." />
                    </div>

                <div class="media-body">
                    <p class="showOnRemove" style=""><button class="btn btn-danger actRemove" style="float: right"> {dict.remove} </button></p>
                    <i style="float: right; margin-top: 20px" class="fa fa-chevron-right fa-2x hideOnRemove"></i>
                    {#isActive}
                        <i style="color: #6a6; float: right; margin-top: 20px; margin-right: 12px" class="fa fa-circle fa-2x"></i>
                    {/isActive}
                    <p style="font-size: 140%; margin: 0px">{name}</p>
                    {#title}
                        <p style="font-size: 100%; margin: 0px; margin-top: -6px">{.}</p>
                    {/title}

                    {#country}
                        <p style="font-size: 100%; margin: 0px; margin-top: -6px">
                            <img style="margin-top: -4px; margin-right: 5px" src="/static/media/flag/{code}.png"> {title}
                        </p>
                    {/country}
                    <p style="font-size: 70%; color: #aaa; margin: 0px">{userid}</p>
                </div>
            </a>
        {/accounts}
        <div class="list-group-item">
            <p style="text-align: right; font-size: 80%; marging-top: 2em">
               <a id="removeacct" class="hideOnRemove" href="" style="color: #888"><i class="fa fa-times"></i> {dict.removeacct} </a>
               <a class="showOnRemove" id="removedone" href="" style="color: #888"><i class="fa fa-check"></i> {dict.done} </a>
            </p>
            <p style="text-align: center; marging-top: 1em"><a id="altlogin" href=""> {dict.oranotheraccount} </a></p>
        </div>
        </script>


        <script type="text/dust" id="providerlist-template">
        {#providers}
            <a href="#" class="list-group-item idpentry mainentry {classes}" data-id="{id}" data-subid="{subid}" data-type="{type}" {#enforceLogout}data-logout="1"{/enforceLogout}>
                <div class="media">
                    <div class="media-left media-middle">
                        {#activeAccounts}
                            <i style="color: #ccc; float: left; margin-top: 0px; margin-right: 0px" class="fa fa-chevron-right fa-fw fa-2x"></i>
                            <i style="color: #ccc; display: none;  float: left; margin-top: 0px; margin-right: 0px" class="fa fa-fw fa-chevron-down fa-2x"></i>
                        {/activeAccounts}
                        {^activeAccounts}
                            {#logo}
                                <img class="media-object" style="width: 48px; height: 48px" src="{.}" alt="..." />
                            {/logo}
                            {#icon}
                                <i style="margin-left: 6px" class="{.}"></i>
                            {/icon}
                        {/activeAccounts}
                    </div>
                    <div class="media-body">
                        {#showActive}
                            <i style="color: #6a6; float: right; margin-top: 0px; margin-right: 12px" class="{#activeAccounts}activeaccounticon {/activeAccounts}fa fa-circle fa-2x"></i>
                        {/showActive}
                        <p style="padding-bottom: 0px">{title}
                        {#directAccount}
                            <br />
                                {name}
                        {/directAccount}
                        </p>
                    </div>
                </div>
            </a>
            {#activeAccounts}
                <a href="#" class="list-group-item idpentry activeaccount" data-id="{id}" data-subid="{subid}" data-type="saml" data-userid="{userid}">
                    <div class="media-left media-middle">
                        <img class="media-object" style="width: 64px; height: 64px" src="{photo}" alt="...">
                    </div>
                    <div class="media-body">
                        <i style="color: #6a6; float: right; margin-top: 0px; margin-right: 12px" class="fa fa-circle fa-2x"></i>
                        <p style="font-size: 100%; margin: 0px">Logg inn som {name}, {title}</p>
                        <p style="font-size: 70%; color: #aaa; margin: 0px">{userid}</p>
                    </div>
                </a>
                <a href="#" class="list-group-item idpentry activeaccount nomedia"  data-id="{id}" data-subid="{subid}" data-logout="1" data-type="saml" style="">
                    <p>Logg ut for å logge inn igjen med en annen brukerkonto ved {title}</p>
                </a>
            {/activeAccounts}
        {/providers}
        {^providers}
            <a class="list-group-item" id="noproviders" href="#">
                <p style="text-align: center">
                    No login providers from this country is accepted by the requesting application
                </p>
            </a>
        {/providers}
        {#hasMore}
            <a class="list-group-item" id="actshowall" href="#">
                <p style="text-align: center"><i class="fa fa-chevron-down"></i> {dict.showall} &nbsp; ({remaining} {dict.moreorgs})</p>
            </a>
        {/hasMore}

        </script>

    </head>

    <body>
        <noscript>
            <div style="padding: 3em">
                <h1>{{_.selectprovider}}</h1>
                <p>(By turning on javascript support in your browser, you will get an improved user experience)</p>

                <ul>
                    {{#noscriptentries}}
                        <li><a href="{{url}}">{{title}}</a></li>
                    {{/noscriptentries}}
                </ul>

            </div>
        </noscript>

        <div class="container" style="margin-top: 1em" >
            <div id="langselector" style="float: right; font-size: 95%"></div>
            <div id="errorcontainer"></div>
        </div>

        {{>accounts}}
        {{>disco }}

        <input type="button" style="display: none" id="iloaded" />

    </body>

</html>
