<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Connect - Feide: Samtykke kan ikke gies</title>


  <link rel="shortcut icon" href="/static/components/uninett-bootstrap-theme/ico/favicon.ico">


  <!-- Bootstrap core CSS -->
  <link href="/static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/components/uninett-bootstrap-theme/css/uninett.css" rel="stylesheet">



<!--
  <script type="text/javascript" src="/_/js/require.js"></script>
  <script>
    require( ['jquery', 'uwap-core/bootstrap3/js/bootstrap', 'uwap-core/bootstrap3/js/modal', 'uwap-core/bootstrap3/js/dropdown'], function( $ ) {

      $(document).ready(function() {
        console.log("---");
      });

    });
  </script
-->

</head>

<body>


  <div class="container">

    <div class="row">
      <div class="col-lg-12"> 
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron uninett-color-darkBlue uninett-fontColor-white">
          <h1><span style="position: relative; top: 9px" class="glyphicon glyphicon-minus-sign"></span> Tjeneste ikke tilgjengelig</h1>
          <p>For å kunne bruke denne tjenesten, må du kunne samtykke til vilkårende for innlogging på tjenesten. Du har ikke enda nådd aldersgrensen for å kunne gjøre dette selv. Brukere kan samtykke på egenhånd fra og med det undervisningsåret de fyller 13 år.</p>
          <p>En Connect-administrator ved din utdanningsinstitusjon kan gjøre dette for deg, og det må de gjøre hvis denne tjenesten er ment å skulle brukes obligatorisk som en del av undervisningen.</p>

        </div>
      </div>
    </div>
    
    <!--
    <div class="row">
    
      <div class="col-lg-12">
        <div class="uninett-color-white uninett-padded gutter">
          <h2>About Feide Connect</h2>
          <p>...</p>
        </div>
      </div>

    </div>
    -->


  </div>
  <!-- /container --> 

</body>
</html>
