<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dataporten Response</title>
  <script type="text/javascript">
    var x = window.parent.document.getElementById('iloaded');
    x.click();
  </script>
</head>

<body>
</body>

</html>
