<!DOCTYPE html>
<html lang="en">
<head>

    {{>commonhead }}


  <title>{{head}}</title>


  <link rel="shortcut icon" href="/static/components/uninett-bootstrap-theme/ico/favicon.ico">


  <!-- Bootstrap core CSS -->
  <link href="/static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/components/uninett-bootstrap-theme/css/uninett.css" rel="stylesheet">

</head>

<body>


  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron uninett-color-orange">
          <h1><strong>{{code}}</strong> <span style="position: relative; top: 9px" class="glyphicon glyphicon-minus-sign"></span> {{head}}</h1>
          <p>We apologize, but were not able to properly handle your request. If you believe this is due to a bug in the Dataporten software, please contact your system administrator.</p>


            <h2>
              {{message}}
            </h2>

          {{#error}}

            <pre style="font-size: 140%">#_ {{file}} ({{line}})</pre>
            <pre>{{trace}}</pre>
          {{/error}}

        </div>
      </div>
    </div>


  </div>
  <!-- /container -->

</body>
</html>
