<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Authorization Required</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Feide Connect Grant" />
		<meta name="author" content="Andreas Åkre Solberg" />

		<link rel="shortcut icon" href="/static/components/uninett-theme/ico/favicon.ico" />

		<!-- Bootstrap core CSS -->
		<link type="text/css" href="/static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link type="text/css" href="/static/components/uninett-theme/css/uninett.css" rel="stylesheet" />
		<link type="text/css" href="/static/components/font-awsome/css/font-awesome.min.css" rel="stylesheet"  />

		<!-- Custom styles for this page -->
		<link type="text/css" href="/static/css/grant.css" rel="stylesheet" />

		<!-- Javascript libraries -->
		<script type="text/javascript" src="/static/components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/grant.js"></script>
		<script type="text/javascript" src="/static/components/bootstrap/dist/js/bootstrap.min.js"></script>

		<!-- <script type="text/javascript" src="/_/js/require.js"></script> -->
		<!-- <script type="text/javascript" src="/static/oauthgrant/main.js"></script> -->
		
	</head>


	<body class="{{bodyclass}}">


		<div class="container mainContainer" >




			<div class="row grantUserLine">

				<div class="media grantDetails">
					<div class="pull-right userExtraBox" >
						<p><a href="http://min.feideconnect.no/#!/">
							Kontakt support
							<i class="fa fa-chevron-left"></i>
						</a></p>
						<p><a href="http://min.feideconnect.no/#!/">
							Mine tjenester
							<i class="fa fa-chevron-left"></i>
						</a></p>
						<p><a href="https://auth.feideconnect.no/logout">
							Logg ut
							<i class="fa fa-chevron-left"></i>
						</a></p>
					</div>

					<a class="media-left" href="#">
						<img class="profileImage" src="/user/media/{{user.p}}" alt="User Profile photo" />
					</a>
					<div class="media-body" style="padding: 5px">
						<h4 class="media-heading">
							<!-- <span class="glyphicon glyphicon-user"></span> -->
							{{user.name}}
						</h4>

						<p class="org">
							{{organization}}
						</p>
						<p class="userChange"><a href="#"><i class="fa fa-chevron-down"></i> Bytte bruker? </a></p>

					</div><!-- media-body -->

				</div><!-- media -->

			</div>




			<div class="row uninett-padded">
				<div class="col-md-12" style=" ">


					

					<p class="simpleSkip">Tjenesten </p>

					{{> grant.service}}

					<p class="simpleSkip">etterspør følgende rettigheter på vegne av deg:</p>

				<div class="list-group simpleSkip">

					{{> grant.perms}}

				</div><!-- End of list-group -->




				{{#perms.hasAPIs}}

					<p class="simpleSkip">I tillegg ønsker tjenesten tilgang til følgende tredjepart tjenester på vegne av deg:</p>

				{{/perms.hasAPIs}}



				<div class="list-group simpleSkip">

					{{> grant.perms-apis}}

				</div>





				{{#validated}}

					<div class="simpleSkip" style="margin-bottom: 2em">
						<i style="color: #363" class="fa fa-check fa-3x pull-left"></i>
						{{client.name}} er en offisiell tjeneste som benyttes hos {{organization}}. {{organization}} har godkjent tjenesten for sine brukere og har en avtale med leverandøren.
					</div>

				{{/validated}}
				{{^validated}}

					<div class="simpleSkip" style="margin-bottom: 2em">
						<i style="color: #643" class="fa fa-question fa-3x pull-left"></i>
						Din organisation {{organization}} har ingen avtale med leverandøren, og har ikke tatt stilling til bruk av denne tjenesten for sine brukere. Du kan allikevel velge å benytte tjenesten på eget initiativ.

					</div>

				{{/validated}}



				<form  id="login" method="post" action="{{posturl}}">

				{{#firsttime}}
				<div style="padding-left: .9em; margin-left: .9em; border-left: 5px solid #a55; ">
					<p>Dette er første gang du logger på en tjeneste med Feide / Connect. For å komme videre må du godta Connect bruksvilkår.</p>

					<p>
						<input type="checkbox" id="bruksvilkar" name="bruksvilkar" value="yes" checked="checked" />
						<label for="bruksvilkar">Jeg godtar <a href="http://feideconnect.no/bruksvilkar" data-toggle="modal" data-target="#myModal">Connect Bruksvikår</a></p></label>
						
				</div>
				{{/firsttime}}

				{{#postdata}}
					<input type="hidden" name="{{key}}" value="{{value}}" />
				{{/postdata}}


				<div class="center-block simpleSkip" >

						<p>Ønsker du å gi samtykke til dette ?</p>

						<fieldset id="actions" style=" text-align: center ">

							<button type="submit" id="submit" tabindex="1" class="btn btn-primary">
								<span class="glyphicon glyphicon-ok"></span>
								Ja, jeg godtar dette
							</button>

							<a tabindex="2" class="btn btn-default" href="/reject">
								<span class="glyphicon glyphicon-remove"></span>
								Nei
							</a>

						</fieldset>
					
				</div>


				<div class="center-block simpleOnly" style="margin-top: 2em" >

						<fieldset id="actions" style=" text-align: right ">

							<a tabindex="2" class="btn btn-default tglSimple" href="#">
								<span class="glyphicon glyphicon-chevron-down"></span>
								Vis mer informasjon
							</a>

							<button type="submit" id="submit" tabindex="1" class="btn btn-success">
								<span class="glyphicon glyphicon-chevron-right"></span>
								OK, fortsett til tjenesten
							</button>

						</fieldset>
				
				</div>



				</form>



				</div><!-- column -->






			</div><!-- row -->
		</div><!-- container -->



		<div class="container" style="color: #bba; margin-top: 4em;" >
			
			<p style="text-align: right; font-size: 80%; margin-bottom: 0px; padding-bottom: 0px">
				<a target="_blank" href="http://feideconnect.no/sluttbrukere/">
					Les mer om Feide og Connect
					<i class="fa fa-chevron-left"></i>
				</a>
			</p>
			<p style="text-align: right; font-size: 80%; margin-top: 0px; padding-top: 0px">
				<a target="_blank" href="http://feideconnect.no/personvern/">
					Connect personvernerklæring
					<i class="fa fa-chevron-left"></i>
				</a>
			</p>


		</div>





		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Connect Bruksvikår</h4>
					</div>
					<div class="modal-body">
						{{> grant.bruksvilkar}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
						<button type="button" id="actAcceptBrVilk" class="btn btn-primary">Aksepter bruksvilkår</button>
					</div>
				</div>
			</div>
		</div>





	</body>

</html>




