<!DOCTYPE html>
<html lang="en">
<head>
    {{>commonhead }}

    <title>{{head}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/components/uninett-bootstrap-theme/css/uninett.css" rel="stylesheet">

</head>

<body>


    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <!-- Main component for a primary marketing message or call to action -->
                <div class="jumbotron uninett-color-lightGreen">
                    <h1><span style="position: relative; top: 9px" class="glyphicon glyphicon-ban-circle"></span> {{head}}</h1>
                    <p>{_.rejectdetails}</p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
